#nav-toggle {
  visibility: visible;
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  z-index: 9;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#nav-toggle::after {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  top: 48px;
  left: 0;
  content: "";
  background: rgba(0, 0, 0, 0.5);
}
